In [1]:
import numpy as np #giving alias name as np
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
def title_index(index):
    return df[df.index == index]["HeadLine"].values[0]
    #takes title from index

def index_title(HeadLine):
    return df[df.HeadLine == HeadLine]["index"].values[0] 
    #takes index from title

In [3]:
df=pd.read_csv("https://raw.githubusercontent.com/sdikshant89/Content-Based-course-RS-/master/Coursera%20Udemy.csv")
#reads the csv file which should be available in your workspace folder

In [4]:
df.head()

   Unnamed: 0  ...                Provider
0           0  ...  University of Michigan
1           1  ...  University of Michigan
2           2  ...                     IBM
3           3  ...                  Google
4           4  ...  University of Michigan

[5 rows x 11 columns]

In [5]:
df.columns

Index(['Unnamed: 0', 'HeadLine', 'Rating', 'Duration', 'Author', 'Source',
       'Thumbnail', 'Description', 'Price', 'Level', 'Provider'],
      dtype='object')

In [6]:
df.isnull().sum()

Unnamed: 0     0
HeadLine       0
Rating         0
Duration       0
Author         0
Source         0
Thumbnail      0
Description    0
Price          0
Level          0
Provider       0
dtype: int64

In [7]:
df.rename(columns = {'Unnamed: 0':'index'}, inplace = True)

In [8]:
X = ['HeadLine','Rating','Duration','Level', 'Provider']
#the key points on which the movie is recommended

for X in X:
    df[X]=df[X].fillna(' ')
    #if any data containg Null or na value it would be rplaced by blank space

def all_X(row):
    try:
        return row['HeadLine']+" "+row["Duration"]+" "+row["Provider"]
    except: print("error", row)
    #giving out the error fields.
    
df["all_X"]= df.apply(all_X,axis=1)

In [10]:
cv = CountVectorizer()

count_matrix = cv.fit_transform(df["all_X"])
#The fit() function calculates the values of these parameters 
#The transform function applies the values of the parameters on the actual data and gives the normalized value 
#The fit_transform() function performs both in the same step 
#Note that the same value is got whether we perform in 2 steps or in a single step.

cosine = cosine_similarity(count_matrix) 
preferred_course = "Python for Everybody"
#course in accordance to which recommendation should be given

course_index = index_title(preferred_course)
similar_course = list(enumerate(cosine[course_index]))
#finding the cosine similarity of the movies

sorted_similar_course = sorted(similar_course,key=lambda x:x[1],reverse=True)
#we will get cosine similarity in ascending order therefore we need to reverse it to get vlues desirably and we'd remove the first as if cosine distance is 1 it would be the same movie which the user like

i=0
for course in sorted_similar_course:
    print (title_index(course[0]))#printing the movies likewise
    i=i+1
    if i>10:
        break

Python for Everybody
Python 3 Programming
Programming for Everybody (Getting Started with Python)
Applied Data Science with Python
Python Basics
Crash Course on Python
Python for Data Science and AI
Google IT Automation with Python
Complete Python programming-Python Basics to Advanced Python
Introducci? a la programaci? en Python I: Aprendiendo a programar con Python
Python for Beginners: Learn Python Programming (Python 3)